@import url('./typography.scss');
@import url('./reset.scss');


$main: #faf9f7;
$secondary: #FFFEFB;
$error: #ef8a87;
$sucsess: #86ac79;

body {
    background: $main;
    padding: 32px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}



/* */

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    @media screen and (max-width: 1070px) {
        grid-template-columns: 2fr 5fr; 
    }

    @media screen and (max-width: 930px) {
        grid-template-columns: 1fr 1fr; 
    }

    @media screen and (max-width: 560px) {
        grid-template-columns: 1fr; 
    }
}


.main__side {
    min-height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    @media screen and (max-width: 1070px) {
        min-height: 300px;
        grid-template-columns: 1fr 1fr; 
    }

    @media screen and (max-width: 930px) {
        min-height: 300px;
        grid-template-columns: 1fr; 
    }
    .left {
        padding: 24px;
        background-color: $secondary;
    }
}




.main__item {
    // border: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    background-color: $secondary;

    img {
        width: 100%;
        height: auto;
    }
}

.text__wrapper {
    padding: 16px 16px 24px 16px;

    .price {
        margin-top: 32px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }
}



/* form */

.form {
    padding: 24px;
    display: block;
    width: 100%;
    background-color: $secondary;
}

input, textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px 0px 11px 16px;
    border: 0;
    background: $secondary;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    transition: border-color .2s linear;
    &::placeholder {
        position: absolute;
        top: 0;
    }
}



label {
    margin-bottom: 4px;
    position: relative;
}


.important {
    &::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
    
        background: #FF8484;
        border-radius: 4px;
    
        position: absolute;
        top: 0;
        right: -4px;
    }
}


.field {
    border: 0;
    padding: 0;

    .desc {
        height: 108px;
    }
}

.not-filled {
    border: 1px solid $error;
}

.filled {
    border: 1px solid $sucsess;
}

.btn {
    background: #EEEEEE;
    border-radius: 10px;
    border: 0;
    width: 100%;
    padding: 10px 0 11px 0;
    margin-top: 8px;

    
}

/* adaptive */