// @import url('./typography.scss');
// @import url('./reset.scss');
// @import url('./header.scss');
// @import url('./__const.scss');
// @import url('./form.scss');

$main: #faf9f7;
$secondary: #FFFEFB;
$error: #ef8a87;
$sucsess: #86ac79;



body {
    background: $main;
    padding: 32px;
}








